body {
    min-height: auto;
    padding-top: 70px;
}

#btnSair {
    width: 75px; 
    margin-right: 15px;
}

.table {
    margin: auto 0;
}

.table th {
    text-align: center;
    font-size: 14px;
}

#detalhamento {
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
}

.table td {
    text-align: center;
    font-size: 14px;
}

.erro-404 {
    position: absolute;
    top: 30%;
    left: 30%;
}

#tablesorter th, #tablesorter td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}